
* {
  padding: 5px;
  margin: 5px 0;
  
}


div {
  font-family: "Palatino";
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;

}

body {
  font-size: 20px;
}

footer {
  margin-top: 20px;
}

#cabinet {
  height: 80px;
  margin-right: 20px; 
}

#asi {
  height 100px;
}

